@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Bevestigen emailadres";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Bedankt voor het bevestigen van je emailadress
    </p>
</div>
