@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bevestiging wachtwoord vergeten";
}

<h2>@ViewData["Title"]</h2>
<p>
    Controleer je email om je wachtwoord te resetten.
</p>
