@page
@model LockoutModel
@{
    ViewData["Title"] = "Geblokeerd";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account is tijdelijk geblokeerd, probeer het later nogmaals.</p>
</header>
