@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Je wachtwoord is gewijzigd. Druk <a asp-page="./Login">hier</a> om in te loggen.
</p>
