@page "{id}"
@using Poule.Pages.Users
@model Poule.Pages.Users.DetailsModel
@{
    ViewBag.Title = "Details Gebruiker";
}

<div>
    <label asp-for="MyUser.Order"></label>
    <input disabled="true" asp-for="MyUser.Order"/> 
</div>
<div>
    <label asp-for="MyUser.Name"></label>
    <input disabled="true" asp-for="MyUser.Name"/> 
</div>
<div>
    <label asp-for="MyUser.EmailAddress"></label>
    <input disabled="true" asp-for="MyUser.EmailAddress"/> 
</div>

<a asp-page="Index">Terug</a>
