@page "{id}"

@using Poule.Pages.Users
@model Poule.Pages.Users.EditModel

<form method="post">
    
    <input type="hidden" asp-for="Id"/>

    <div>
        <label asp-for="MyUser.Order"></label>
        <input asp-for="MyUser.Order"/>
        <span asp-validation-for="MyUser.Order"></span>
    </div>
    <div>
        <label asp-for="MyUser.Name"></label>
        <input asp-for="MyUser.Name"/>
        <span asp-validation-for="MyUser.Name"></span>
    </div>
    <div>
        <label asp-for="MyUser.EmailAddress"></label>
        <input asp-for="MyUser.EmailAddress"/>
        <span asp-validation-for="MyUser.EmailAddress"></span>
    </div>
    <input type="submit" name="save" value="Save"/>
</form>

